DB_URL=jdbc:postgresql://db:5432/eng
DB_NAME=eng
DB_USERNAME=postgres
DB_PASSWORD=postgres
JWT_SECRET=y6ACUOp8Tu9RP/Gq8skJe3g8L8/g4jeu4yuzS+wsg8DY29BUM1CurCUKYeYmdOO5
JWT_ACCESS_TTL=600000
JWT_REFRESH_TTL=3600000
FRONTEND_URL=http://frontend:3000